@font-face{
    font-family: 'Nexa Rust Sans Book';
    src: url('font/NexaRustSans-Book.woff2') format('woff2'),
        url('font/NexaRustSans-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
	width: 960px;
	height: 457px;
	margin: 0 auto;
	padding: 0;
}

#header{
	background:url(assets/header.jpg);
	width: 960px;
	height: 60px;
	margin: 0;
}

#contener{
	background:url(assets/background.jpg);
	width: 960px;
	height: 457px;
	margin:0 auto;
	padding: 0;
}

#header h1{
	position: relative;
	top: 33%;
	left: 43.75%;
	font-size: 20px;
	font-weight: 120px;
	font-family: Nexa Rust Sans Book;
	color: white;
	text-transform: uppercase;
	margin: 0;
}

#logo {
	position: relative;
	background:url(assets/logo.png);
	width: 60px;
	height: 27px;
	left: 15px;
	bottom: 5px;
}

#logo button {
	width: 60px;
	height: 27px;
	background-color: transparent;
	border: none;
}

#facebook {
	position: relative;
	background: url(assets/facebook.png);
	width: 32px;
	height: 26px;
	left: 91.5%;
	bottom: 33px;
}

#facebook:hover {
	background-position: bottom;
}

#facebook button {
	width: 32px;
	height: 26px;
	background-color: transparent;
	border: none;
}

#linkedin {
	position: relative;
	background: url(assets/linkedin.png);
	width: 32px;
	height: 26px;
	left: 94.5%;
	bottom: 59px;
}

#linkedin:hover {
	background-position: bottom;
}

#linkedin button {
	width: 32px;
	height: 26px;
	background-color: transparent;
	border: none;
}

#box {
	position: relative;
	background-color: rgba(255, 255, 255, 0.75);
	width: 455px;
	height: 240px;
	left: 26%;
	top: 125px;
}

#nom {
	position: relative;
	top: 36px;
	left: 33px;
	border: 0px;
	background-color: rgb(167, 167, 167);
	font-size: 14px;
	width: 168px;
	height: 35px;
}

#nom::placeholder {
	color: white;
	font-family: Open Sans;
}

#mail {
	position: relative;
	top: 84px;
	right: 143px;
	border: 0px;
	background-color: rgb(167, 167, 167);
	font-size: 14px;
	width: 168px;
	height: 35px;
}

#mail::placeholder {
	color: white;
	font-family: Open Sans;
}

#telephone {
	position: relative;
	bottom: 15px;
	left: 33px;
	border: 0px;
	background-color: rgb(167, 167, 167);
	font-size: 14px;
	width: 168px;
	height: 35px;
}

#telephone::placeholder {
	color: white;
	font-family: Open Sans;
}

#message {
	position: relative;
	left: 45px;
	bottom: 1px;
	border: 0px;
	background-color: rgb(167, 167, 167);
	font-size: 14px;
	width: 200px;
	height: 130px;
}

#message::placeholder {
	color: white;
	font-family: Open Sans;
	left: 10px;
}

#envoyer {
	position: relative;
	background-color: rgb(167, 167, 167);
	font-family: Nexa Rust Sans Book;
	font-size: 14px;
	color: white;
	border: 0px;
	left: 310px;
	width: 116px;
	height: 33px;
}

#envoyer:hover{
	cursor: pointer;
	background-color: rgb(0, 0, 0);
}

@media (max-width: 480px) {
	body{
		width: 480px;
		height: 228.5px;
		margin: 0 auto;
		padding: 0;
	}

	#header{
		background:url(assets/header2.jpg);
		width: 480px;
		height: 30px;
		margin: 0;
	}

	#contener{
		background:url(assets/background2.jpg);
		width: 480px;
		height: 228.5px;
		margin:0 auto;
		padding: 0;
	}

	#header h1{
		position: relative;
		top: 33%;
		left: 43.75%;
		font-size: 10px;
		font-weight: 60px;
		font-family: Nexa Rust Sans Book;
		color: white;
		text-transform: uppercase;
		margin: 0;
	}

	#logo {
		position: relative;
		background:url(assets/logo2.png);
		width: 30px;
		height: 13.5px;
		left: 7.5px;
		bottom: 2.5px;
	}

	#logo button {
		width: 30px;
		height: 13.5px;
		background-color: transparent;
		border: none;
	}

	#facebook {
		position: relative;
		background: url(assets/facebook2.png);
		width: 16px;
		height: 13px;
		left: 91.5%;
		bottom: 16.5px;
	}

	#facebook:hover {
		background-position: bottom;
	}

	#facebook button {
		width: 16px;
		height: 13px;
		background-color: transparent;
		border: none;
	}

	#linkedin {
		position: relative;
		background: url(assets/linkedin2.png);
		width: 16px;
		height: 13px;
		left: 94.5%;
		bottom: 29.5px;
	}

	#linkedin:hover {
		background-position: bottom;
	}

	#linkedin button {
		width: 16px;
		height: 13px;
		background-color: transparent;
		border: none;
	}

	#box {
		position: relative;
		background-color: rgba(255, 255, 255, 0.75);
		width: 227.5px;
		height: 120px;
		left: 26%;
		top: 62.5px;
	}

	#nom {
		position: relative;
		top: 18px;
		left: 16.5px;
		border: 0px;
		background-color: rgb(167, 167, 167);
		font-size: 7px;
		width: 84px;
		height: 17.5px;
	}

	#nom::placeholder {
		color: white;
		font-family: Open Sans;
	}

	#mail {
		position: relative;
		top: 42px;
		right: 71.5px;
		border: 0px;
		background-color: rgb(167, 167, 167);
		font-size: 7px;
		width: 84px;
		height: 17.5px;
	}

	#mail::placeholder {
		color: white;
		font-family: Open Sans;
	}

	#telephone {
		position: relative;
		bottom: 7px;
		left: 16.5px;
		border: 0px;
		background-color: rgb(167, 167, 167);
		font-size: 7px;
		width: 84px;
		height: 17.5px;
	}

	#telephone::placeholder {
		color: white;
		font-family: Open Sans;
	}

	#message {
		position: relative;
		left: 22.5px;
		bottom: 0.5px;
		border: 0px;
		background-color: rgb(167, 167, 167);
		font-size: 7px;
		width: 100px;
		height: 65px;
	}

	#message::placeholder {
		color: white;
		font-family: Open Sans;
		left: 5px;
	}

	#envoyer {
		position: relative;
		background-color: rgb(167, 167, 167);
		font-family: Nexa Rust Sans Book;
		font-size: 7px;
		color: white;
		border: 0px;
		left: 155px;
		width: 58px;
		height: 16.5px;
	}

	#envoyer:hover{
		cursor: pointer;
		background-color: rgb(0, 0, 0);
	}
}

@media (max-width: 160px) {
	body{
		width: 160px;
		height: 76px;
		margin: 0 auto;
		padding: 0;
	}

	#header{
		background:url(assets/header3.jpg);
		width: 160px;
		height: 10px;
		margin: 0;
	}

	#contener{
		background:url(assets/background3.jpg);
		width: 160px;
		height: 76px;
		margin:0 auto;
		padding: 0;
	}

	#header h1{
		position: relative;
		top: 33%;
		left: 43.75%;
		font-size: 3px;
		font-weight: 20px;
		font-family: Nexa Rust Sans Book;
		color: white;
		text-transform: uppercase;
		margin: 0;
	}

	#logo {
		position: relative;
		background:url(assets/logo3.png);
		width: 10px;
		height: 4.5px;
		left: 2.5px;
		bottom: 0.8px;
	}

	#logo button {
		width: 10px;
		height: 4.5px;
		background-color: transparent;
		border: none;
	}

	#facebook {
		position: relative;
		background: url(assets/facebook3.png);
		width: 5px;
		height: 4px;
		left: 91.5%;
		bottom: 5.5px;
	}

	#facebook:hover {
		background-position: bottom;
	}

	#facebook button {
		width: 5px;
		height: 4px;
		background-color: transparent;
		border: none;
	}

	#linkedin {
		position: relative;
		background: url(assets/linkedin3.png);
		width: 5px;
		height: 4px;
		left: 94.5%;
		bottom: 29.5px;
	}

	#linkedin:hover {
		background-position: bottom;
	}

	#linkedin button {
		width: 5px;
		height: 4px;
		background-color: transparent;
		border: none;
	}

	#box {
		position: relative;
		background-color: rgba(255, 255, 255, 0.75);
		width: 75px;
		height: 40px;
		left: 26%;
		top: 20px;
	}

	#nom {
		position: relative;
		top: 6px;
		left: 5.5px;
		border: 0px;
		background-color: rgb(167, 167, 167);
		font-size: 2px;
		width: 28px;
		height: 5px;
	}

	#nom::placeholder {
		color: white;
		font-family: Open Sans;
	}

	#mail {
		position: relative;
		top: 14px;
		right: 23px;
		border: 0px;
		background-color: rgb(167, 167, 167);
		font-size: 2px;
		width: 28px;
		height: 5px;
	}

	#mail::placeholder {
		color: white;
		font-family: Open Sans;
	}

	#telephone {
		position: relative;
		bottom: 2px;
		left: 5.5px;
		border: 0px;
		background-color: rgb(167, 167, 167);
		font-size: 2px;
		width: 28px;
		height: 5px;
	}

	#telephone::placeholder {
		color: white;
		font-family: Open Sans;
	}

	#message {
		position: relative;
		left: 7.5px;
		bottom: 0.16px;
		border: 0px;
		background-color: rgb(167, 167, 167);
		font-size: 2px;
		width: 33px;
		height: 21px;
	}

	#message::placeholder {
		color: white;
		font-family: Open Sans;
		left: 1px;
	}

	#envoyer {
		position: relative;
		background-color: rgb(167, 167, 167);
		font-family: Nexa Rust Sans Book;
		font-size: 2px;
		color: white;
		border: 0px;
		left: 51px;
		width: 19px;
		height: 5.5px;
	}

	#envoyer:hover{
		cursor: pointer;
		background-color: rgb(0, 0, 0);
	}
}